# Please keep this file sorted
/bloom/ @anza-xyz/networking
/compute-budget-instruction/ @anza-xyz/fees
/core/src/repair/ @anza-xyz/networking
/fee/ @anza-xyz/fees
/gossip/ @anza-xyz/networking
/net-utils/ @anza-xyz/networking
/runtime-transaction/ @anza-xyz/tx-metadata
/tls-utils/ @anza-xyz/networking
/transaction-view/ @anza-xyz/tx-metadata
/turbine/ @anza-xyz/networking
/xdp/ @anza-xyz/networking
